@model IEnumerable<Stock>

@{
    ViewData["Title"] = "ListStock";
}

<div class="container p-3">
    @if (Model == null)
    {
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Stock List</h2>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Stock" asp-action="Create" class="btn btn-primary">
                    New Stock
                </a>
            </div>
        </div>
        <p class="text-center">There are no Stock</p>
    }
    else
    {
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Stock List</h2>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Stock" asp-action="Create" class="btn btn-primary">
                    New Stock
                </a>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Produit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fournisseur)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantite)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Produit.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fournisseur.NomCompletF)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantite)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> 
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>